/* CSS page en général et ses balises */
body{
  font-family: 'Sulphur Point', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

h1{
  font-size: 5vw;
  margin-left: 3vw;
  margin-top: 4px;
  padding-top: 4px;
  margin-bottom: 4px;
}

h2{
  margin-left: 12%;
  font-size: xx-large;
  text-decoration: underline;
}

h3{
  text-align: center;
}

h6{
  text-align: center;
  font-size: medium;
  margin-top: 2px;
}

video{
  border-radius: 20px;
  box-shadow: rgba(34, 34, 210, 0.25) 2px 2px 10px 9px;
}


/* Style du canvas d'accueil */
.webgl
{
  position: relative;
  top: 0px;
  left: 0;
  outline: none;
  overflow: hidden;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}


/* Style du header */
header{
  background-color: #101117;
  z-index: -5;
}

#waves{
  top: 0px;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

#header_id{
  position: relative;
}

#accroche {
	position: absolute;
	top: 12vh;
	width: 100%;
  margin-left: 10vw;
  text-align: left;
	z-index: 100;
	display:block;
  color: white;
  font-size: 5rem;
}

#nom {
	width: 100%;
	z-index: 100;
	display:block;
  	font-size: 5rem;
}

#titre{
  width: 100%;
  margin-left: 1vw;
  z-index: 100;
  display:block;
  font-size: 1.5rem;
}


/* Style du menu */
#menu{
  position: fixed;
  background-color: #101117;
  z-index: 12;
  width: 100%;
  text-align: center;
  top: 0px;
  margin: 0;
  padding-top: 10px;
  transition: top 0.6s;
  height: 5vh;
}

#marge{
  height: 5vh;
  width: 100%;
  background-color: #101117;
}

#menu ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 10px;
}

#menu a{
  margin: 0 20px;
  text-decoration: none;
  color: white;
}

#menu li{
  display: inline;
  list-style: none;
}


/* Style de la partie à propos */
#desc{
  padding-left: 4%;
  padding-right: 3%;
  align-self: center;
}

#a_propos{
  position: relative;
  padding: 50px 0;
  background: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

#propos_cont{
  display: flex;
  flex-direction: row;
}

#propos_cont img{
  width: 25vw;
  padding-right: 10%;
  padding-left: 2px;
  transform: perspective(400px) rotateY(-8deg);
  filter: drop-shadow(30px 10px 4px #2d2d334a);
}

#a_propos:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}


/* Style de la partie compétences */
#comp{
  background-color: #101117;
  color: whitesmoke;
  position: relative;
  padding: 200px 0;
  z-index: 4;
}

#comp_div{
  display: flex;
  flex-direction: column;
  
}

#comp_img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #13151B;
  box-shadow: rgba(34, 34, 210, 0.25) 2px 2px 10px 9px;
}

#comp a{
  text-decoration: none;
  color: whitesmoke;
}

#comp figure{
  transition: transform .2s;
}

#comp figure:hover{
  transform: scale(1.2);
}

#comp figcaption{
  text-align: center;
}

#comp:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}


/*Style de la partie projet  */
.projet_box{
  margin-right: 10vw;
  margin-left: 5vw;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projet_box_1{
  margin-right: 10vw;
  margin-left: 5vw;
  margin-top: 3%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.gauche1{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40vw;
  z-index: 2;
}

.droite2{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40vw;
  z-index: 2;
}

.droite1{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 51vw;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  left: -15px;
}

.gauche2{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 51vw;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  left: 15px;
}

.bas{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  justify-content: space-between;
}
  
#projet{
  position: relative;
  padding: 50px 0;
  background: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

#projet:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

#projet a{
  color: #333bdf;
  text-decoration: none;
  font-style: italic;
}


/* Style de la partie expérience */
h5{
  text-align: center;
  font-size: x-large;
  margin-bottom: 5px;
}

#exp{
  background-color: #101117;
  color: whitesmoke;
  position: relative;
  padding: 200px 0;
  z-index: 2;
}

#rapport{
  color: #333bdf;
  text-decoration: none;
  font-style: italic;
}

#experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(51, 59, 223, 1) 0px 3px 12px;
  border-radius: 12px;
  width: 90vw;
  margin-left: 5vw;
}

#exp_text{
  padding-left: 15px;
  padding-right: 15px;
}

.slider{
  width: 80%;
  position: relative;
  margin: 0;
}

.slide{
  display: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

.slide img{
  border-radius: 12px;
} 

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 1vw;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}

#exp:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}


/* Style de la partie contact */
#contact_img{
  display: flex;
  flex-direction: column;
}

#contact a{
  text-align: center;
  text-decoration: none;
  color: black; 
}

#contact_lien{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}

#contact{
  z-index: 1;
}


/* Style du footer et son contenu */
footer{
  background-color: #101117;
}

#foot_cont{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  color: whitesmoke;
}


/* CSS pour les différents écrans */
@media only screen and (max-width: 1050px) {
  .projet_box{
    padding-left: 2%;
    padding-right: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 5%;
    width: 93vw;
    display: flex;
    flex-direction: column;
  }

  .projet_box_1{
    padding-left: 2%;
    padding-right: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 5%;
    width: 93vw;
    display: flex;
    flex-direction: column;
  }
	
  .gauche1{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .droite2{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
   
  .droite1{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 51vw;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    left: 0px;
  }

  .gauche2{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 51vw;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    left: 36vw;
  }
	
  .slider{
    width: 90%;
    position: relative;
    margin: 0;
  }
}


@media only screen and (max-width: 600px) {
  .projet_box{
    padding-left: 2%;
    padding-right: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 5%;
    width: 93vw;
    display: flex;
    flex-direction: column;
  }
    
  .gauche1{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .gauche2{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 51vw;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    left: 0;
  }

  .projet_box_1{
    padding-left: 2%;
    padding-right: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 5%;
    width: 93vw;
    display: flex;
    flex-direction: column;
  }
	
  #nom {
	width: 100%;
	z-index: 100;
	display:block;
  	font-size: 3rem;
 }
    
  .droite2{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
	  
  .slider{
    width: 98%;
    position: relative;
    margin: 0;
  }
}

@media only screen and (max-width: 392px) {
	#menu{
	  position: fixed;
	  background-color: #101117;
	  z-index: 12;
	  width: 100%;
	  text-align: center;
	  top: 0px;
	  margin: 0;
	  padding-top: 10px;
	  transition: top 0.6s;
	  height: 8vh;
	}
}


@media only screen and (max-width: 800px) {
  #menu ul{
    padding-left: 0%;
    padding-right: 0%;
  }

  #menu a{
    margin: 0 2px;
    text-decoration: none;
    color: white;
  }
  
  .droite1{
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
  }

  .gauche2{
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    left: 0;
  }
	
#nom {
	width: 100%;
	z-index: 100;
	display:block;
  	font-size: 4rem;
}
  
  .bas{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .webgl{
    height: 40vh;
  }

  #propos_cont{
    display: flex;
    flex-direction: column;
  }

  #propos_cont img{
    width: 70vw;
    align-self: center;
  }
	
 .slider{
    width: 96%;
    position: relative;
    margin: 0;
  }
}
